nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
nav li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

/*** Color Variables 

:root {

    --color-1: #EB4B98; 
    --color-2: #7F7CAF;
    --color-3: #5158BB;
    --color-4: #BBDBD1;
    --color-5: #EEEEFF;
}
***/

/** Color Experiments
body{

}
h1{
    color: var(--color-1);

}

h2{
    color: var(--color-3);
    background-color: var(--color-4);
}

h3{
    color: var(--color-2);
    
}
p{
    color: var(--color-5);
    background-color: var(--color-4);
}
**/
