:root {

  --color-1: #EF626C; 
  --color-2: #D6F6DD;
  --color-3: #5158BB;
  --color-4: #F4AFAB;
  --color-5: #F0EFF4;

  --font-1: "Montserrat";
  --font-2: "Roboto";
}

#profile-img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav{
  background-color: var(--color-3);
  color: var(--color-5);
  font-family: var(--font-2);
}
header{
  background-color: black;
  text-align: center;
  color: var(--color-3);
  padding-bottom:20px;
  border-bottom: 5px solid var(--color-3);
 
  
}
h1{
  color: var(--color-5);
  padding-top: 15%;
  font-family: var(--font-1); 

}
#tagline{
  color: var(--color-5);
  font-family: var(--font-1);
  text-align: center;
}
h2{
  
  margin-left: 2%;
  font-family: var(--font-1); 
  color: black;
}

h3{
  text-align: left;
  font-family: var(--font-2);
}
h4{
  font-family: var(--font-2);
}

ul{
  font-family: var(--font-2);
}
p{
  font-family: var(--font-2);
}

#about{
  text-align: justify;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--color-5);
  
}
#work{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--color-4);
  
}
#contact{
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: var(--color-1);
  
  
}
.w3-third{
  padding: 15px;
}

.about-text{
  padding: 15px;
}

.portfolio-card{
  background-color: var(--color-5);
  border-style: solid;
  border-color: var(--color-4);
  
}
.portfolio-img{
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
}
.contact-info{
  padding-left: 2%;
}

.text-link {
  border-bottom: 1px solid; /* Or whatever color you want */
  text-decoration: none;
}