:root {

  --color-1: #EF626C; 
  --color-2: #7F7CAF;
  --color-3: #5158BB;
  --color-4: #AAAAAA;
  --color-5: #F0EFF4;
}

#profile-img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav{
  background-color: var(--color-3);
  color: var(--color-5);
  font-family: 'Roboto';
}
header{
  background-color: black;
  text-align: center;
  color: var(--color-3);
  padding-bottom:20px;
 
  
}
h1{
  color: var(--color-1);
  padding-top: 15%;
  font-family: 'Fjalla One'; 

}
#tagline{
  color: var(--color-1);
  font-family: 'Fjalla One';
}
h2{
  text-align: center;
  font-family: 'Fjalla One'; 
  color: var(--color-5);
}

#about{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-1);
}
#work{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-2);
}
#contact{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-1);
}
